.edit__clear-random{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.edit__message{
    color: $orange;
    font-weight: bold;
}

.edit__form{
    display: flex;
    flex-direction: column;
    margin:$s-size 0;
}

.edit__input{
    display: flex;
    flex-grow: 1;
    background: $light-blue;
    border: none;
    padding: $s-size;
    color: $off-white;
}

@media (min-width:$desktop-breakpoint){
    .edit__form{
        flex-direction: row;
    }
    .edit__clear-random{
        flex-direction: row;
    }
}