.option{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid lighten($light-blue, 10%);
    padding: $s-size;
    margin: 0 0 $s-size;

}

.option__text{
    color:$off-white;
    word-break: break-all;
    font-size: $m-size;
    font-weight: bold;
}